.prompt-form {
  display: flex;
  /* flex-flow: row wrap; */
  flex-direction: row;
  /* justify-items: flex-start; */
  height: 4vh;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5vh 0.4vw;
  color: #e7eae5;
  font-size: 1.25rem;
  font-weight: 400;
}

input {
  background: transparent;
  border: none;
  /* width: 100vw; */
  outline: none;
  caret-color: #e7eae5;
  color: #e7eae5;
  padding: 0;
  margin-left: 0.4vw;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.25rem;
  /* font: bold; */
  font-weight: 400;
  /* font-weight: 700; */
  flex: 1;
}

.prompt-answer {
  margin-left: 0.8vw;
  font-weight: 400;
  color: #e7eae5;
  font-size: 1.25rem;
}

td, dl{
  color: #e7eae5;
  padding-right:0.4vw;
}

.highlights {
  color: yellow;
}
/* 
h5 {
  margin: 10px 20px 30px 40px;
} */