.App {
  display: flex;
  flex-direction: column;
  background-color: #300A24;
  min-height: 100vh;
  color: white;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}


.prompt {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}
